* {
  margin: 0; padding:0;
}
header {
  width: 100%;
  padding: 5px 0;
  text-align: left;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 10;
}
header .header-title {
    line-height: 100px;
    font-size: 30px;
    float: left;
    padding-right: 150px;
    padding-left: 50px;
}
.header-list {
    line-height: 100px;
    list-style: none;
    font-weight: bold;
}
.header-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #174a5c;
    color: white;
    text-align: center;
}
ul.footer-menu li {
  display: inline;
}

.top-wrapper h1 {
  font-size: 50px;
  color: white;
  opacity: 0.8;
}
.top-container {
  padding: 300px 0 200px 0;
  text-align: center;
  letter-spacing: 1px;
  background-image: url(https://publicdomainq.net/images/201805/16s/publicdomainq-0022124hcx.jpg);
  background-size: cover;
}
.top-container p {
  font-size: 30px;
  opacity: 0.3;
}
.btn-wrapper {
  text-align: center;
  margin: 10px;
}
.or-message {
  font-weight: bold;
}
.btn {
  display: inline-block;
  background-color: black;
  padding: 5px 10px;
  margin-bottom: 5px;
  opacity: 0.9;
  border-radius: 10px;
  transition: all 0.5s;
}
.btn:hover {
  opacity: 0.2;
}
.sign-up {
  color: white;
}
.far {
  margin-right: 10px;
}
.log-in {
  color: white;
}
.fas {
  margin-right: 10px;
}
.password {
  display: block;
  color: white;
  opacity: 0.6;
}
.password:hover {
  opacity: 0.2;
}
.mid-wrapper {
  background-color: rgba(0, 0, 0);
  height: 500px;
  text-align: center;
}
.mid-title {
  color: white;
  padding: 30px 30px;
}
.mid-image {
  margin-left: 150px;
}
.mid-image1 {
  float: left;
}
.mid-image2 {
  float: left;
}
.mid-image3 {
  float: left;
}
.text-contents {
  color: white;
}
.bottom-wrapper{
  height: 300px;
  background-color: rgba(0, 0, 0, 0.95);
  text-align: center;
  padding-top: 50px;
}
.bottom-container {
  color: white;
}
.bottom-message  h2{
  margin-bottom: 20px;
}
.bottom-message  h3{
  margin-bottom: 50px;
  font-weight: normal;
}
.bottom-btn {
  background-color: rgb(255, 255, 255, 0.9);
  padding: 10px 20px;
  border-radius: 100px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 7px rgba(255, 255, 255, 0.5);
}
.bottom-btn:hover {
  color: red;
}
.bottom-btn:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}
